
ffd6ff,e7c6ff,c8b6ff,b8c0ff,bbd0ff
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h4{
    font-size: 1.5rem;

    color:#bbd0ff ;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top_controls{
width: 100%;
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
gap: 7em;
}

td{
    padding: 0.5em;
    border-bottom:2px solid #d4a373ff;

}

tr{
    border:4px solid black;
}

input{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}

.admin_panel,.submit{
    text-decoration: none;
    color: #fff;
    background-color: #d4a373ff;
    padding: 10px 10px;
    border-radius: 5px;
}

textarea{
    width: 70%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}

#modal_form{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1.44em;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.submit_button{
    padding: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .main-view{
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .students_table{
      overflow-y:scroll;
        width: 550px;
        height:500px;
        border-radius: 5px;
        border: 6px solid #ccc;;  
  }

  .daily_stats{
      width: 500px; 
      display: flex;
      flex-direction:row ;
      gap: 2em;
      font-size: 1.66em;
      background-color:#b8c0ff ;
      padding: 1.22em;

  }
